<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-end mt-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Add user
  </button>
  

<table class="table table-striped">
    <thead>
        <th>Group</th>
        <th>Number of tasks</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of taskGroups|async">
            <td>{{item.name}}</td>
            <td>{{item.tasks.length}}</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-success" role="alert" id="add-success-alert">
  User was created.
</div>


  

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add new user</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
             id="add-modal-close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-user></app-add-user>
        </div>
      </div>
    </div>
  </div>