
<div class="container w-75 mt-5">
    <h1 class="text-center">{{taskGroup.name}}</h1>

    <button type="button" class="btn btn-secondary float-end  mt-2 mb-3" data-bs-toggle="modal" data-bs-target="#editTaskGroupName"
        (click)="taskGroupNameModal()">
        Edit task group name
    </button>

    <button type="button" class="btn btn-success float-end mt-2 mx-5 mb-3" data-bs-toggle="modal" data-bs-target="#addTask"
        (click)="taskGroupNameModal()" (click)="clearForm(addTaskForm)">
        Add Task
    </button>

    <a routerLink="">
        <button type="button" class="btn btn-primary float-start mt-2 mb-3" data-bs-toggle="modal">
        Back
        </button>
    </a>

    <table class="table table-hover table-bordered fa-border">
        <thead>
            <th class="text-center">#</th>
            <th class="text-center">Description</th>
            <th class="text-center">Deadline</th>
            <th class="text-center">User</th>
            <th class="text-center">Status</th>
            <th class="text-center">Options</th>
        </thead>
        <tbody>
            <tr *ngFor="let task of taskGroup.tasks; let i=index">
                <td class="text-center">{{i+1}}</td>
                <td>{{task.description}}</td>
                <td class="text-center">{{task.deadline|date:'shortDate'}}</td>
                <td >{{userMap.get(task.userId)}}</td>
                <td class="text-center">{{task.status}}</td>
                <td class="text-center">
                <button class="btn btn-outline-primary me-2 mb-1"
                (click)="modalEditTask(task)"  data-bs-toggle="modal" data-bs-target="#editTask">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </button>
                <button class="btn btn-outline-danger me-2 mb-1"
                (click)="deleteTask(task)"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
                </td>
            </tr>
        </tbody>
    </table>

        <!-- Alerts -->
          <div class="alert alert-success mt-3 text-center" role="alert" id="add-task-success-alert">
            Task was created.
          </div>

          <div class="alert alert-success mt-3 text-center" role="alert" id="delete-task-success-alert">
            Task was deleted.
          </div>

          <div class="alert alert-success mt-3 text-center" role="alert" id="edit-taskGroupName-success-alert">
            Task group name was changed.
          </div>

          <div class="alert alert-success mt-3 text-center" role="alert" id="edit-task-success-alert">
            Task was updated.
          </div>
            

<!-- Edit task group modal -->
<div class="modal fade" id="editTaskGroupName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit task group name</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
            id="edit-taskGroupName-modal-close" (click)="modalClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #editGroupNameForm="ngForm" (ngSubmit)= "editGroupNameForm.resetForm()">
                <div class="mb-3">
                  <label for="taskGroupName" class="form-label">New task group name:</label>
                  <input type="text" class="form-control" [(ngModel)]="taskGroupName" name="taskGroupName">
                </div>
                <div class="modal-footer">
                  <button (click)="editTaskGroupName()"  class="btn btn-success mt-2">
                    Edit task group name
                  </button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

<!-- Edit task modal -->
  <div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit task</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
            id="edit-task-modal-close" (click)="modalClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #editTaskForm="ngForm" (ngSubmit)= "editTaskForm.resetForm()" class="fa-border">
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <input type="text"  class="form-control" name="description" id="description" [(ngModel)]="description">
                </div>
                <div class="mb-3">
                  <label for="deadLine" class="form-label">Deadline</label>
                  <input type="date" [min]="minDate" class="form-control"name="deadline" [(ngModel)]="deadline">
                </div>
                <div class="mb-3">
                    <label for="userId" class="form-label">User</label>
                    <select class="form-control"  name="form-control" name="userId" id="userId" [(ngModel)]="userId">
                        <option *ngFor="let user of userList|async" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-control"  name="form-control" name="status" id="status" [(ngModel)]="status">
                        <option *ngFor="let status of statusList|async" [value]="status.name">{{status.name}}</option>
                    </select>
                  </div>
                <div class="modal-footer text-center">
                  <button (click)="editTask()" class="btn btn-success mt-2">
                    Edit task
                  </button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>

<!-- Add task modal -->
 <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add task</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
            id="add-task-modal-close" (click)="modalClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #addTaskForm="ngForm" (ngSubmit)= "addTaskForm.resetForm()" class="fa-border" >
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <input type="text" class="form-control" name="description" [(ngModel)]="description">
                </div>
                <div class="mb-3">
                  <label for="deadLine" class="form-label">Deadline</label>
                  <input type="date" [min]="minDate" class="form-control"name="deadline" [(ngModel)]="deadline">
                </div>
                <div class="mb-3">
                    <label for="userId" class="form-label">User</label>
                    <select class="form-control"  name="form-control" name="userId" id="userId" [(ngModel)]="userId">
                        <option *ngFor="let user of userList|async" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-control"  name="form-control" name="status" id="status" [(ngModel)]="status">
                        <option *ngFor="let status of statusList|async" [value]="status.name">{{status.name}}</option>
                    </select>
                  </div>
                <div class="modal-footer text-center">
                  <button (click)="addTask()" class="btn btn-success mt-2">
                    Add task
                  </button>
                </div>
            </form>
        </div>
      </div>
    </div>
 </div>
</div>